<div class="nodisp" id="red" onclick="meta();">
<div class="nodisp" id="name" style="display:block;font-size: 40px"></div>
</div>  
<div class="nodisp" id="back"></div>
 
<input type="file" id="input" onchange="this.files"/>
<div class="disp" id="title">Title</div>
<div class="disp" id="artist">Artist</div>
<div class="disp" id="album">Album</div>
<canvas class="disp" id="freq" width="1024" height="525"></canvas>